# Python Assignment

1) Write a program which will find all such a numbers which are divisible by 7 but are not multiple of 5 between 2000 and 3000(both included) The numbers obtained should be printed in comma seperated sequences on a single line

In [15]:
l=[]
for x in range(2000,3000):
    if (x%7==0) and (x%5!=0):
        l.append(str(x))

In [17]:
l

['2002',
 '2009',
 '2016',
 '2023',
 '2037',
 '2044',
 '2051',
 '2058',
 '2072',
 '2079',
 '2086',
 '2093',
 '2107',
 '2114',
 '2121',
 '2128',
 '2142',
 '2149',
 '2156',
 '2163',
 '2177',
 '2184',
 '2191',
 '2198',
 '2212',
 '2219',
 '2226',
 '2233',
 '2247',
 '2254',
 '2261',
 '2268',
 '2282',
 '2289',
 '2296',
 '2303',
 '2317',
 '2324',
 '2331',
 '2338',
 '2352',
 '2359',
 '2366',
 '2373',
 '2387',
 '2394',
 '2401',
 '2408',
 '2422',
 '2429',
 '2436',
 '2443',
 '2457',
 '2464',
 '2471',
 '2478',
 '2492',
 '2499',
 '2506',
 '2513',
 '2527',
 '2534',
 '2541',
 '2548',
 '2562',
 '2569',
 '2576',
 '2583',
 '2597',
 '2604',
 '2611',
 '2618',
 '2632',
 '2639',
 '2646',
 '2653',
 '2667',
 '2674',
 '2681',
 '2688',
 '2702',
 '2709',
 '2716',
 '2723',
 '2737',
 '2744',
 '2751',
 '2758',
 '2772',
 '2779',
 '2786',
 '2793',
 '2807',
 '2814',
 '2821',
 '2828',
 '2842',
 '2849',
 '2856',
 '2863',
 '2877',
 '2884',
 '2891',
 '2898',
 '2912',
 '2919',
 '2926',
 '2933',
 '2947',
 '2954',
 '2961',
 '2968',
 '2982',
 '2989',
 '2996']

Q2) Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [7]:
x = input(str("Enter the first name: "))
y = input(str("Enter the last name: "))
m  = y[::-1]+" "+x[::-1]

Enter the first name: Rohit
Enter the last name: Karande

In [8]:
m

'ednaraK tihoR'

Q3) Write a Python program to find the volume of a sphere with diameter 12 cm.

In [13]:
pi = 22/7
y1 = float(input("Radius of sphere: "))
v = (4/3) * (pi * y1** 3)

Radius of sphere: 12

In [14]:
v

7241.142857142857